body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 0em;
    
}
h1{
    color: #583777;
    margin: auto;
    width: 80%;
    font-size: 2rem;
   
} 

h3{
    font-size: 1rem;
    color: #583777;
    font-weight: 200;
    margin: auto;
    width: 80%;
} 

h5{
    font-size: 1rem;
    font-weight: 200;
}

.button {
    background-color: rgb(250, 225, 196);
    padding: 0.5rem 0.5rem;
    border-radius: .3rem;
    color: rgb(46, 46, 46);
    font-weight: 400;
    text-decoration: none;
    font-size: 1rem;
    display: inline-block; /*為什麼這行可以把底線消除？*/
    margin-top: 2.5rem;
    width: 30%;
    
  }

  img{
      margin: 1rem;
  }

  #sidebar {
    float: left;
    position: fixed;
    background-color:rgba(255, 255, 255, 0.5);
    top: 0em;
    right: 0em;
    padding: 0.8em 1.6em;
    width: 100%;
    text-align: right;
    box-shadow: 0em 0.3em 0.5em rgba(0, 0 ,0, 0.1);
    z-index: 1;
}

#sidebar a{
    margin: 0.4em 0.8em;
    color: rgb(46, 46, 46);
    text-decoration: none;
    font-size: 0.8rem;
}
#sidebar ul{
    margin: 0em;
}

.hero-banner{
    text-align: center;
    height: 80%;
    width: 100%;
    background-image: url('bao-menglong-izzit01AX_U-unsplash.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.hero-text{
    position: relative;
    top: 20%;
}

.about-me{
    width: 60%;
}